*
{
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body
{
    text-align: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.Img
{
    width: 480px;
    height: 340px;
}
.Btn
{
    padding: 1rem 1rem 1rem 1rem;
    font-size: large;
    color: bisque;
    border: 3px solid white;
    border-radius: 10px;
}
.Btn:hover
{
    font-size: x-large;
}